{% load static %}
 {% block content %}
<footer class="page-footer text-center text-md-left elegant-color-dark">
    <div class="container-fluid py-5">
      <div class="flex-center">
        <ul class="list-unstyled">
          <li>
            <h4 class="h2-responsive mb-6 mt-10">
              <i class="fas fa-quote-left text-danger" aria-hidden="true"></i>
              Art is standing with one hand extended into the universe and one hand extended into the world,
              and letting ourselves be a conduit for passing energy.
              <i class="fas fa-quote-right text-danger" aria-hidden="true"></i>
            </h4>
          </li>
          
        </ul>
      </div>
    </div>
    <!-- Social Media -->
    <div class="container mb-2">
      <div class="row">
        <div class="col-md-12 py-2">
          <div class="footer-social flex-center">
            <!-- Facebook -->
            <a href="#" type="button" class="btn-floating">
              <i class="fab fa-facebook fa-3x black-text mr-2"></i>
            </a>
            <!--Twitter-->
            <a href="#" type="button" class="btn-floating">
              <i class="fab circle-icon fa-twitter fa-3x mr-2 blue-text"></i>
            </a>
            <!--Youtube +-->
          <a href="#" type="button" class="btn-floating">
            <i class="fab circle-icon fa-youtube fa-3x mr-2 red-text"></i>
          </a>
          <!--Instagram +-->
          <a href="#" type="button" class="btn-floating">
            <i class="fab circle-icon fa-instagram fa-3x mr-2 green-text"></i>
          </a>
          <!--Linkedin-->
          <a href="#" type="button" class="btn-floating">
            <i class="fab circle-icon fa-linkedin-in fa-3x text-secondary"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- copyright -->
  
</footer>
{% endblock %}