{% include 'head.html' %} {% include 'scripts.html' %} {% load static %}
<footer class="page-footer text-center text-md-left elegant-color-dark">
    <div class="container-fluid py-5">
      <div class="flex-center">
        <ul class="list-unstyled">
          <li>
            <h4 class="h2-responsive mb-4 mt-5">
              <i class="fas fa-quote-left text-warning" aria-hidden="true"></i>
              Art is standing with one hand extended into the universe and one hand extended into the world,
              and letting ourselves be a conduit for passing energy.
              <i class="fas fa-quote-right text-warning" aria-hidden="true"></i>
            </h4>
          </li>
          <li>
            <h3 class="font-italic white-text">~ <b class="yellow-text">Collins Akumu</b></h3>
          </li>
        </ul>
      </div>