{% block content %}
<div class="separator">
    <h3 class="capitalize dark-text">Artsy <b class="red-text">Pieces</b> </h3>
</div>
<div class="row">
   
    <div class="card-columns" id="view"display: flex; flex-wrap: wrap;"></div>
    {% for image in images %} 
    <a>
        <div class="card img-responsive" data-toggle="modal" data-target="#modal1{{image.id}}">
          <!-- <img src="{{image.image.url}}" alt="{{image.name}}" class="img-fluid" height="90vh">    -->
        </div>
    </a>
    

    
    <div id="modal1{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content modalcard">
                <div class="modal-header">
                    <h4 class="modal-title dark-text" id="img-header">{{image.title}}</h4>
                </div>
                <div class="modal-body">
                    {% if image in images %}
                       <img src="{{image.image.url}}" alt="{{image.title}}" class="img-responsive" style="height:90vh; width:90vh"> 
                      {% endif %}  
                    <div class="pt-3">
                        <h5 class="img-description">
                            <strong><b class="red-text">Description:</b></strong>
                            {{image.description}}
                        </h5>
                        <h5 class="img-timestamp">
                            <strong><b class="red-text">Pubished On:</b></strong>
                            {{image.timestamp}}
                        </h5>
                        <h5 class="img-author">
                            <strong><b class="red-text">Author:</b></strong>
                            {{image.author}}
                        </h5>
                        <h5 class="imd-category">
                            <strong><b class="red-text">Category:</b></strong> 
                            {{image.category}}
                        </h5>
                        <h5 class="img-location">
                        <strong><b class="red-text">Location:</b></strong> 
                        <span class="btn btn-sm btn-outline-red">{{image.location}}</span>

                        </h5>
                        
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" name="button" class="btn btn-primary btn-sm mr-4" value="" onclick="copylink(this.value)">Copy Image Link</button>
                    <!--Facebook-->
                    <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f black-text"></i></a>
                    <!--Twitter-->
                    <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter blue-text"></i></a>
                    <!--Google +-->
                    <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g red-text"></i></a>
                    <!--Linkedin-->
                    <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in green-text"></i></a>
                    <button type="button" class="btn btn-outline-danger btn-sm ml-4" data-dismiss="modal">Close</button>
                </div>
               
            </div>
        </div>
    
    </div>
</div>
</div>

{% endfor %}


{% endblock %} 