{% block content %}
<div class="separator">
    <h3 class="capitalize dark-text">Artsy <b class="yellow-text">Pieces</b> </h3>
</div>
<div class="card-columns" id="view">
    {% for image in images %} 
    <a>
        <div class="card img-responsive" data-toggle="modal" data-target="#modal1{{image.id}}">
          <!-- <img src="{{image.image.url}}" alt="{{image.name}}" class="img-fluid" height="90vh">    -->
        </div>
    </a>
    <div class="modal" id="modal1{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content modalcard">
                <div class="modal-header">
                    <h4 class="modal-title dark-text" id="img-header">{{image.title}}</h4>
                </div>
                <div class="modal-body">
                    {% if image in images %}
                       <img src="{{image.image.url}}" alt="{{image.title}}" class="img-fluid" height="50vh" width="50vh"> 
                      {% endif %}  
                    <div class="pt-3">
                        <h5 class="img-description">
                            <strong><b class="yellow-text">Description:</b></strong>
                            {{image.description}}
                        </h5>
                        <h5 class="img-timestamp">
                            <strong><b class="yellow-text">Pubished On:</b></strong>
                            {{image.timestamp}}
                        </h5>
                        <h5 class="img-author">
                            <strong><b class="yellow-text">Author:</b></strong>
                            {{image.author}}
                        </h5>
                        <h5 class="imd-category">
                            <strong><b class="yellow-text">Category:</b></strong> 
                            {{image.category}}
                        </h5>
                        <h5 class="img-location">
                        <strong><b class="yellow-text">Location:</b></strong> 
                        <span class="btn btn-sm btn-outline-yellow">{{image.location}}</span>

                        </h5>
                        
                    </div>
                </div>
               
            </div>
        </div>
    
    </div>
</div>

{% endfor %}


{% endblock %} 