{% extends 'base.html' %}
{% load static %}

{% block content %}

    <header>
        
    </header>
<!-- <div style="background-image:url('/artsy/static/img/timon-klauser-3MAmj1ZKSZA-unsplash.jpg');
            background-size:cover;
            background-repeat:no-repeat;
            background-position:center center;
            min-height:637px">
            <div class="container h-100 d-flex justify-content-center align-items-center">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h3 class="white-text">Welcome to my Artsy Pieces</h3>
                            <a class="btn btn-md btn-dark" href="#view"><i class="fas fa-images fa-2x text-danger"> My Art</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
<main class="container-fluid ">
    {% include "image.html" %}
</main>

<section style="height: 80px;">
    {% include "footer.html" %}
</section>


{% include "scripts.html" %}
{% endblock %}