{% if location_img %}
<div class="card-columns" id="view">
    {% for img in location_img %}
    <a>
        <div class="card img-responsive" data-toggle="modal" data-target="#modal1{{img.id}}">
            <img src="{{img.image.url}}" alt="{{img.name}}" class="img-fluid">
        </div>
    </a>
    <div class="modal" id="modal1{{img.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content modalcard">
                <div class="modal-header">
                    <h4 class="modal-title dark-text" id="img-header">{{img.title}}</h4>
                </div>
                <div class="modal-body">
                    <img src="{{img.image.url}}" alt="{{image.title}}" class="img-fluid">
                    <div class="pt-3">
                        <h5 class="img-description">
                            <strong><b class="yellow-text">Description:</b></strong>
                            {{img.description}}
                        </h5>
                        <h5 class="img-timestamp">
                            <strong><b class="yellow-text">Pubished On:</b></strong>
                            {{img.timestamp}}
                        </h5>
                        <h5 class="img-author">
                            <strong><b class="yellow-text">Author:</b></strong>
                            {{img.author}}
                        </h5>
                        <h5 class="imd-category">
                            <strong><b class="yellow-text">Category:</b></strong> 
                            {{img.category}}
                        </h5>
                        <span class="btn btn-sm btn-outline-yellow">{{img.location}}</span>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" name="button" class="btn btn-primary btn-sm mr-4" value="{{img.image.url}}" onclick="copylink(this.value)">Copy Image Link</button>
                    <!--Facebook-->
                    <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f black-text"></i></a>
                    <!--Twitter-->
                    <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter blue-text"></i></a>
                    <!--Google +-->
                    <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g red-text"></i></a>
                    <!--Linkedin-->
                    <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in green-text"></i></a>
                    <button type="button" class="btn btn-outline-danger btn-sm ml-4" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}