
{% load static %}

{% block content %}
<div class="container pt-5 mt-5">

    {% if images %}
    <h4 class=" capitalize text-center">Found <b class="yellow-text">{{ images|length }}</b> images in <b class="yellow-text">{{ message }}</b> category</h4>
    {% else %}
    <h4 class="text-center"> Found 0 images for your search {{ message }}</h4>

    <a class="d-block mx-auto" href="/">
        <button class="btn btn-sm btn-info d-block mx-auto">Home Page</button>
    </a>
    {% endif %}
    {% if images %}
    <div class="card-columns pt-4">
        {% for img in images %}
        <a>
            <div class="card img-responsive" data-toggle="modal" data-target="#modal1{{image.id}}">
                <img src="{{image.image.url}}" alt="{{image.name}}" class="img-fluid">
            </div>
        </a>
        <div class="modal" id="modal1{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                <div class="modal-content modalcard">
                    <div class="modal-header">
                        <h4 class="modal-title dark-text" id="img-header">{{image.title}}</h4>
                    </div>
                    <div class="modal-body">
                        <img src="{{image.image.url}}" alt="{{image.title}}" class="img-fluid">
                        <div class="pt-3">
                            <h5 class="img-description">
                                <strong><b class="yellow-text">Description:</b></strong>
                                {{image.description}}
                            </h5>
                            <h5 class="img-timestamp">
                                <strong><b class="yellow-text">Pubished On:</b></strong>
                                {{image.timestamp}}
                            </h5>
                            <h5 class="img-author">
                                <strong><b class="yellow-text">Author:</b></strong>
                                {{image.author}}
                            </h5>
                            <h5 class="imd-category">
                                <strong><b class="yellow-text">Category:</b></strong> 
                                {{image.category}}
                            </h5>
                            <a href="/location/{{image.location}}" class="btn btn-sm btn-outline-primary">{{image.location}}</a>
                        </div>
                    </div>
                    {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}

<section style="height: 70px;" class="pt-2">
    
</section>

